.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container div {
  border: 1px solid;
  padding: 20px;
  align-items: center;
  width: 350px;
  height: 450px;
  margin-bottom: 20px;;
}

.dog-image {
  display: flex;
  max-width:100%;
  max-height:80%;
  object-fit: contain;
}
