.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container div {
  border: 1px solid;
  padding: 20px;
  align-items: center;
  width: 350px;
  height: 350px;
  margin-bottom: 20px;;
}

.loginbackground {
  background-image: url("https://images.unsplash.com/photo-1518717758536-85ae29035b6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-size: cover;
  height: 730px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.formbackground {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-left: 50px;
}

.loginbutton {
  margin-left: 55px;
  margin-top: 35px;
  color: blue;
}

.reservations-container {
  text-align: center;
  margin-top: 20px;
}

.reservations-container div {
  border: 1px solid;
  padding-top: 30px;
  width: 80%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 30px;
  display: inline-block;
  background-color: white;
}
